.has-prussian-blue-color { color: #003049; }
.has-prussian-blue-background-color { background-color: #003049; }

.has-fire-engine-red-color { color: #D62828; }
.has-fire-engine-red-background-color { background-color: #D62828; }

.has-orange-wheel-color { color: #F77F00; }
.has-orange-wheel-background-color { background-color: #F77F00; }

.has-ghost-white-color { color: #F0EFF4; }
.has-ghost-white-background-color { background-color: #F0EFF4; }

.has-platinum-color { color: #E2E2E2; }
.has-platinum-background-color { background-color: #E2E2E2; }

.has-black-color { color: #000; }
.has-black-background-color { background-color: #000; }

.has-white-color { color: #fff; }
.has-white-background-color { background-color: #fff; }

