.has-small-font-size { font-size: 0.75rem; }

.has-regular-font-size { font-size: 1rem; }

.has-medium-font-size { font-size: 1.125rem; }

.has-large-font-size { font-size: 1.375rem; }

.has-extra-large-font-size { font-size: 2.25rem; }

